* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    height: 100vh;
}

.adicionar {
    background-color: antiquewhite;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(218, 209, 199);
}

#item {
    height: 25px;
    flex: 1;
    padding: 10px 15px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

#item:focus {
    outline: none;
    border-color: #007bff; /* Azul elegante */
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.btn {
    height: 40px;
    color: white;
    padding: 10px 20px;
    background-color: #007bff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
        background-color: #0056b3;
}

.btn:active {
    transform: scale(0.95);
}

@media (max-width: 600px) {
    .adicionar {
        flex-direction: column;
        gap: 10px;
    }

    #item {
        width: 98%;
    }

    .btn {
        width: 80%;
    }

    .list li {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .list button {
        width: 80%;
    }
}

.list {
    list-style-type: none;
    margin: 20px 0 0;
    padding: 0;
    max-width: 98%;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
}

.list li:last-child {
    border-bottom: none; /* Remove a borda no último item */
}

.list button {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}